
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.test {
  background: red;
}

* {
  padding: 0;margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.2em;
}

html {
  font-family: 'Ibarra Real Nova', serif;
  background: #f5f5f5;
}

ul {
  list-style: none
}

a {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-flow: column
}
.f-row {
  flex-flow: row
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}

nav {
  padding: 0 10%;
}
nav {
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

nav .nav-links ul {
  align-items: center;
}

nav .nav-links ul {
  gap: 10px;
}

.hero {
  height: 90vh;
  padding: 0 10%;
  justify-content: center;
  text-align: center;
}
.hero h1 {
  font-weight: 900;
}
.hero h3 {
  width: 500px;
  align-self: center;
  font-weight: 700;
}
.hero h2, .hero h3 {
  font-weight: 400;
}


.project {
  height: 100vh;
  position: relative;
  padding: 0 10%;
}

.project .image {
  height: 400px;
}

.top-corner {
  position: absolute;
  top: 0;
  left: 0px;
}
.top-corner {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-corner {
  position: absolute;
  bottom: -0px;
  right: 0;
}
.title {
  height: 10%;
  justify-content: center;
  align-self: center;
  align-items: end;
}
.title h1 {
}
.cards {
  justify-content: space-between;
  height: 90%;
  justify-content:center;
  align-self: center;
  align-items:center;
}

.card {
  padding: 10px;
  background: white;
  min-width: 250px;
  height: 450px;
}
.card img {
  width: 100%;
  height: 100%;
}


.contact {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.under {
  text-decoration: underline;
}

.toolkit {
  height: 30vh;
  background: #191919;
  flex-flow: column;
  display: flex;
  justify-content: center;
  color: #fff;
  align-self: center;
  align-items: center;
}
.toolkit .title {
}
.skill-cards {
  gap: 20px;
  margin-top: 20px;
  display: flex;

}

@media only screen and (max-width: 1024px) {
  .ci {
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  nav .nav-contact ul {
    flex-flow: column;
  }
  .ci {
    width: 200px;
  } 
  .project {
    height: 100%;
    padding: 10% 0;
  }
  .project .cards {
    flex-flow: column;
  }
  .project .cards .card {
    min-width: 300px;
  }

}

@media only screen and (max-width: 600px) {
  nav {
    font-size: 12px;
  }
  .hero {
    font-size: 12px;
  }
  .ci {
    width: 150px;
  }
}

@media only screen and (max-width: 468px ) {
  nav .nav-links ul {
      display: none;
  } 
  nav .nav-contact {
    text-align: center;
  }
  nav {
    justify-content: center;
    flex-flow: column;
    height: 100%;
  }
  .hero {
    height: 80vh;
    width: 100%;
    text-align: left;

  }
  .hero h3 {
    width: 100%;
    text-align: justify;
  }
  .ci {
    width: 100px;
  }
  .toolkit {
  }
  .skill-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
  }
  .skill-cards img {
    width: 30px;
  }
  .contact .contact-info{
    padding: 0 10%;
  }
}

